{% extends 'main.html' %}
{% block content %}
<div class="knownus-container">
    <h2>Know Us</h2>
    <p>Welcome to Shop Sphere! We are dedicated to providing you with the best online shopping experience.</p>
    <p>Our mission is to offer a wide range of products at competitive prices, ensuring quality and customer satisfaction.</p>
    <p>At Shop Sphere, we value your trust and strive to make your shopping journey seamless and enjoyable.</p>
    <p>Thank you for choosing Shop Sphere as your preferred shopping destination!</p>
</div>
{% endblock content %}